$color-grey: #F5F5F5;
$color-pink: #E27866;
$color-black: #1C1C1C;
$color-blue: #6696E2;
$color-green: #41D395;
$color-white: #FFFFFF;

$main-font: 'Montserrat', sans-serif; 

* {
    box-sizing: border-box;
    font-family: $main-font;
    scroll-behavior: smooth;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.error {
    font-size: 8px;
    color: red;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
    visibility: hidden;
}