.swiper-container {
    width: 100%;
    height: 450px;
    margin-bottom: 40px;

    .swiper-wrapper {
        .swiper-slide {
            display: flex;
            align-items: flex-end;
            

            .message {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px;
                padding: 70px 0;
                width: 300px;
                

                .chat-bubble {
                    position: relative;
                    background-color: $color-blue;
                    padding: 20px;
                    border-radius: 10px;
                    margin-bottom: 20px;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 35px;
                        width: 15px;
                        height: 15px;
                        background-color: $color-blue;
                        transform: translateY(50%) translateX(-50%) rotate(-45deg);
                      }
                      

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        color: $color-white;
                    }
                }

                .commentator {
                    display: flex;
                    align-items: center;
                    

                    .image-text {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .profession {
                            font-size: 14px;
                            font-weight: 400;
                            margin: 5px 0 0 0;
                        
                        }
                        
                        .name {
                            font-size: 20px;
                            font-weight: 400;
                            margin: 0;
                        }
                    }
                    .image {
                        background-image: url("avatar_2_u231.svg");
                        width: 70px;
                        height: 70px;
                        flex-shrink: 0;
                        position: relative;
                        margin-right: 30px;
                        border-radius: 50%;
                        background-size: cover;
                    }

                }
            }
        }

        @media (max-width: 1120px) {
            .swiper-slide {
                justify-content: center;
            }
        }
    }
}

.review-headline {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;

    &:after {
        content:'';
        width: 64px;
        border-bottom: solid 2px $color-blue;
        position: absolute;
        left: 47%;
        top: 150%;
    }
}

.swiper-pagination {
    width: 100px;
    display: flex;
    justify-content: space-between;

    .swiper-pagination-bullet {
    opacity: 1;
    border: $color-pink solid 1px;
    background-color: transparent;
    width: 10px;
    height: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: $color-pink;
    }
    
}