.pricing {
    background-color: $color-blue;

    .prices {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .black {
            background-color: #333333;
            color: white;
        }

        ul {
            list-style-type: none;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
    }

}