.register {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 80px 0;

    .register-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 50px;

        h2 {
            font-weight: 600;
        }

        p {
            font-size: 14px;
            font-weight: 400;
        }
    }

    .three-square {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .square {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            background-color: #A37169;
            flex-shrink: 0;
             
            .square-text {
                text-transform: uppercase;
                transform: rotate(-45deg);
                opacity: 50%;
                font-size: 14px;
                font-weight: 600;
            }
        }

    }

    
}

.register-img {
    background: linear-gradient(90deg, rgba(204,125,124,0.4) 0%, rgba(119,145,209,0.4) 100%), url("photo-mountain.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}